
.node-container {
    font-size:0.8em;
}
.node-container:hover {
    cursor:pointer;    

    fill:#ff6a00;
}

.node-select:hover {
    cursor: pointer;
    transition: 0.2s;
    background: #ff6a00;
    color: #fff;
}

.label-text-shadow {
    font-size:0.8em;
    font-weight:900;
    fill:#fff;
}

.node-clicked {
    font-weight: 800;
    font-style: italic;
}

.node-highlight {
    transition: 1s;
    background: #ded6ee;
}

.link-arrow {
    fill:#000;
    opacity:0.5;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

#tooltip {
    font-size: 8pt;
    font-weight: 400;

    fill: #fff;
}

#tooltip-container {
    fill:#2529fb;        
}

.node-red {
    fill:#ff0000;
}
.node-blue {
    fill:#09119a;
}
.node-purple {
    fill:#680ad1;
}
.node-green {
    fill:#009619;
}
.node-orange {
    fill:#ff6a00;
}
.node-yellow {
    fill:#a99204;
}