.link-couple {
    stroke: #ff6a00;
    stroke-width: 1px;
}
.link-children {
    stroke:#7566ff;
    stroke-width:1px;
}

.node-container-kongehus-default {
    fill:#4b4b4b;
}

.node-container-kongehus {    
    font-size:0.6em;
}
.node-container-kongehus:hover {    
    cursor:pointer;
}


.node-container-norway-and-sweden-king {
    font-size:0.6em;
    fill: #8b4204;
}
.node-container-norway-and-sweden-queen {
    font-size:0.6em;
    fill: #ac5811;
}
.node-container-denmark-queen {
    font-size:0.6em;
    fill: #54ac11;
}
.node-container-denmark-king {
    font-size:0.6em;
    fill: #418e06;
}

.node-container-sweden-queen {
    font-size:0.6em;
    fill: #3d4fb8;
}
.node-container-sweden-king {
    font-size:0.6em;
    fill: #091f9f;
}

.node-container-norway-queen {
    font-size:0.6em;
    fill: #be2525;
}
.node-container-norway-king {
    font-size:0.6em;
    fill: #b10f0f;
}
