<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>

    <link rel="stylesheet" href="containers.css"/>
    <link rel="stylesheet" href="nodestyles.css" />

    <style>
      
    </style>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="HomeController">
            <h1>Angular with D3</h1>

        

            <button ng-click="randomise()">Randomise!</button>
            <button ng-click="drawGraph()">Redraw graph</button>
            <button ng-click="drawGraphene()">Graphene</button>
            <button ng-click="drawCube()">Cube</button>


            <div class="container">
                <div class="item">

                    <input ng-model="settings.linkDistance" />



                </div>
                <div class="item">
                    

                    <h2>Nodes</h2>
                    <div>
                        <input ng-model="newID" placeholder="ID">
                        <input ng-model="newName" placeholder="Name">
                        <button ng-click="addNode(newID,newName)">Add node</button>
                    </div>
                    <div ng-repeat="node in graph.data.nodes">
                        <div class="node-select"
                             ng-mouseover="findConnectedNodes(node)"
                             ng-mouseout="clearHighlights()"
                             ng-click="setClickedNode(node)"
                                ng-class="{'node-clicked' : node.clicked,
                                'node-highlight' : node.highlight}"                                >
                            <span>{{node.ID}}</span> - <span>{{node.Name}}</span>
                        </div>
                    </div>
                    <h2>Edges</h2>
                    <div>
                        <input ng-model="newStartNode" placeholder="StartNode">
                        <input ng-model="newEndNode" placeholder="EndNode">
                        <button ng-click="addEdge(newStartNode,newEndNode)">Add edge</button>
                    </div>
                    <div ng-repeat="edge in graph.data.edges">
                        <span>{{edge.StartNode}}</span> - <span>{{edge.EndNode}}</span>
                    </div>


                </div>
                

                <div class="item">
                    <div id="graph-container"></div>
                </div>
            </div>
        </div>


    </div>
    <script src="packages/angular.min.js"></script>
    <script src='packages/d3.min.js'></script>
    <script src="AngularD3-preset-graphene.js"></script>
    <script src="AngularD3-preset-cube.js"></script>
    <script src="AngularD3.js"></script>
</body>
</html>


