body {
    background:#fffdf8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display:flex;
    flex-wrap:wrap;
    
}

.item {
    width:50%;    
}

#graph-container {
    margin-top:2em;
    width:600px;
    height:600px;
    border:1px solid;
    background:#f6f6f6;
}
