body {
    background:#fffdf8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display:flex;
    flex-wrap:wrap;
    
}

.item {
    width:33%;    
}

#graph-container {
    margin-top:2em;
    border:1px solid;
    background:#f6f6f6;
}

.node-select:hover {    
    cursor:pointer;
    transition: 0.2s;
    background:#ff6a00;
    color:#fff;
}

.node-clicked {
    font-weight:800;
    font-style: italic;
}

.node-highlight {
    transition: 1s;
    background: #ded6ee;
}